<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
</head>

<body style="font-family: Arial; margin:40px;">

<h2>Book Details</h2>

<p><b>ID:</b> <span th:text="${book.id}"></span></p>
<p><b>Title:</b> <span th:text="${book.title}"></span></p>
<p><b>Author:</b> <span th:text="${book.author}"></span></p>
<p><b>Price:</b> <span th:text="${book.price}"></span></p>

<br>

<a th:href="@{/view-books}" style="text-decoration:none; color:black;">
    ← Back to Book List
</a>

</body>
</html>